.grid {
    display: flex;
    margin-top: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    justify-content: center;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 40px;
    height: 40px;
    border: 1px solid #212529;
  }
  
  .cell.alive {
    background-color: #212529;
  }